name: iOS Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          architecture: 'arm64'

      - run: flutter --version

      - run: flutter pub get

      - run: flutter build ios --release --no-codesign
