name: iOS Build
 
on:
  push:
    branches: [ main ]
 
jobs:
  build:
    runs-on: macos-latest
 
    steps:
      - uses: actions/checkout@v4
 
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'
 
      - run: flutter pub get
 
      - run: flutter build ios --release --no-codesign